:root {
   --grid-height: 25; /* DEFAULT VALUE */
}

.grid-container {
   flex-grow: 1;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.grid-container.light {
   background-color: #f4f7fe;
}

.grid-container.dark {
   background-color: #2c2c38;
}

.grid {
   height: auto;
   width: 96%;
   aspect-ratio: 16/8;
   max-width: 85vw;
   display: grid;
   grid-template-rows: repeat(var(--height), 1fr);
}

.light .grid {
   border: 1px #333 solid;
}

.dark .grid {
   border: 1px #d3d3d3 solid;
}