.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 10000;
}

.modal {
   position: fixed;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 525px;
   border-radius: 8px;
   padding: 20px;
   z-index: 100000;
   display: grid;
}

.modal.dark {
   background-color: #232229;
}

.modal.light {
   background-color: #fff;
}

.close-button {
   display: none;
}