.hamburger {
   gap: 5px;
   width: 28px;
   height: 21px;
   background: none;
   border: none;
   cursor: pointer;
   transition: 0.5s ease-in-out, 0s right;
   transform: rotate(0deg);
   position: absolute;
   right: 35px;
}

.hamburger.open {
   position: relative;
   right: 0px;
}

.line {
   height: 3px;
   width: 100%;
   background-color: #5869F0;
   border-radius: 1.5px;
   position: absolute;
   transition: 0.25s ease-in-out;
   transform: rotate(0deg);
   opacity: 1;
   left: 0;
}

.hamburger:hover .line {
   background-color: #4c61ff;
}

.line.one {
   top: 0px;
}

.line.two {
   top: 9px;
}

.line.three {
   top: 9px;
}

.line.four {
   top: 18px;
}

.open .line.one {
   top: 9px;
   width: 0%;
   left: 50%;
}

.open .line.two {
   transform: rotate(45deg);
}

.open .line.three {
   transform: rotate(-45deg);
}

.open .line.four {
   top: 9px;
   width: 0%;
   left: 50%;
}